/* Существующие стили ... */

main {
    text-align: center; /* Центрирование контента по горизонтали */
}

.avif-container {
    display: inline-block;
    margin: 0 20px 10px; /* Отступ снизу для изображений */
    text-align: center
}

.avif-container img {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-container {
    text-align: center; /* Центрирование текста по горизонтали */
}

.text-container h2 {
    margin: 10px 0 0; /* Отступ сверху для заголовка */
}

.text-container p {
    margin: 0; /* Убираем стандартный отступ для абзаца */
}
